  #sidebar a,
  #sidebar a:visited
  {
    color: white;
  }

	#sidebar #logo,
  html body #skel-panels-fixedWrapper .toggle:before
	{
    background-image: url('images/hexabump.png');
		background-color: transparent;
  }

  #titleBar .title a,
  #titleBarNarrower .title a,
	#sidebar #logo a
	{
    color: white;
    text-decoration: none;
  }

  #sidebar #mission
  {
    text-align: justify;
    margin-top: .5em;
  }
  #sidebar #mission .inner
  {
    font-size: 18px;
    padding: 8px 14px;
    /* font-weight: 700; */
  }

  #sidePanel #sidebar #mission
  {
    display: none;
  }

  /* Show year in info date panel in desktop wide view */
  html.desktop.wide .is-post .info .date .year
  {
    display: block;
  }
  html.desktop.wide .is-post .info .date .day
  {
    margin: 0.25em 0;
  }
  html.desktop.wide .is-post .info .date .year .comma
  {
    display: none;
  }
