extends layout

block content
  each article in articles
    include _article
    mixin article-intro(article)

  .pager
    if prevPage
      a(href=prevPage.url).button.previous « Newer Posts
    if nextPage
      a(href=nextPage.url).button.next Older Posts »
